<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Vacina</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Editar Vacina</h2>
        <form action="{{ url_for('editar_vacina', tipo=tipo, id=vacina.id) }}" method="POST">
            <div class="mb-3">
                <label for="nome_vacina" class="form-label">Nome da Vacina</label>
                <input type="text" class="form-control" id="nome_vacina" name="nome_vacina" value="{{ vacina.nome_vacina }}" required>
            </div>
            <div class="mb-3">
                <label for="idade_recomendada" class="form-label">Idade Recomendada</label>
                <input type="text" class="form-control" id="idade_recomendada" name="idade_recomendada" value="{{ vacina.idade_recomendada }}" required>
            </div>
            <div class="mb-3">
                <label for="doses" class="form-label">Número de Doses</label>
                <input type="number" class="form-control" id="doses" name="doses" value="{{ vacina.doses }}" required>
            </div>
            <div class="mb-3">
                <label for="rede_disponivel" class="form-label">Rede Disponível</label>
                <input type="text" class="form-control" id="rede_disponivel" name="rede_disponivel" value="{{ vacina.rede_disponivel }}" required>
            </div>
            <div class="mb-3">
                <label for="doenca_prevenida" class="form-label">Doença(s) Prevenida(s)</label>
                <input type="text" class="form-control" id="doenca_prevenida" name="doenca_prevenida" value="{{ vacina.doenca_prevenida }}" required>
            </div>
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo de Vacina</label>
                <select class="form-select" id="tipo" name="tipo" required>
                    <option value="crianca" {% if vacina.__class__.__name__ == 'VacinaCrianca' %}selected{% endif %}>Criança</option>
                    <option value="adolescente" {% if vacina.__class__.__name__ == 'VacinaAdolescente' %}selected{% endif %}>Adolescente</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>

        <a href="{{ url_for('listar_vacinas_criancas') if tipo == 'crianca' else url_for('listar_vacinas_adolescentes') }}" class="btn btn-secondary mt-3">Voltar para a Lista de Vacinas</a>
    </div>
</body>
</html>
